body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#mensagem {
    color: red;
}

.valid-cpf {
    color: red;
    font-size: 10px;
    visibility: hidden;
}

.valid-nome {
    color: red;
    font-size: 10px;
    visibility: hidden;
}